body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("header-illsutration-mobile@2x.png");
  height: 726px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .head {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .head h2, main .head h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

main .head h2:first-child {
  color: #172b4d;
  margin-bottom: 10px;
}

main .head h2:nth-child(2) {
  color: #36b37e;
  margin-top: 0;
}

main .head p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 58px 0;
}

main .icons {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

main .icons a {
  text-decoration: none;
  color: #505f79;
  margin: 0 15px;
}

main .icons a i {
  width: 19.99px;
  height: 19.96px;
}
